.request-notes {
  margin-top: 1rem;
  margin-left: 2rem;
}
.request_level_container {
  border: 1px solid grey;
  height: 12rem;
  overflow-y: scroll;
  border-radius: 1px;
}
.margin-left {
  margin-left: 1rem;
}
.time-tracking-section-container {
  border: 1px solid grey;
  height: 10rem;
}

.color-pink {
  color: rgb(238, 70, 216);
}

.create-new-request {
  margin-top: 2rem;
}

.sample-loads {
  width: 100%;
  height: 12rem;
  border: 1px solid grey;
  border-radius: 3px;
  overflow-y: scroll;
}

.sample-loads > table {
  width: 100%;
}
.sample-loads > table tr td {
  text-align: center;
}
.float-right {
  float: right;
}

.block{
  box-sizing: border-box;
  padding: 1rem;
  width:100%;
  height:6rem;
  border: 1px solid grey;
 overflow-y: scroll;
}

